<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188986853427-mk5kho26b3719eh40d5n8k3kt20olh8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188986853427-mk5kho26b3719eh40d5n8k3kt20olh8k</string>
	<key>API_KEY</key>
	<string>AIzaSyBmEkfjQqxOux0wm1Tt2kBcElDRQYCNC_o</string>
	<key>GCM_SENDER_ID</key>
	<string>188986853427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indianexpress</string>
	<key>PROJECT_ID</key>
	<string>tiden-eb974</string>
	<key>STORAGE_BUCKET</key>
	<string>tiden-eb974.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188986853427:ios:8b8d65ce56de93d228fb46</string>
</dict>
</plist>